.barranav {
    background-color: var(--color-padrao1);
    color: white;
    margin-bottom: 20px;
}

.logosite {
    font-size: 40px;
    color: var(--color-padrao6);
}

.logofimtech {
    width: 125px;
    height: 125px;
}

.bg-body-tertiary {
    background-color: var(--color-padrao2) !important;
}

.navbar, .navbar-collapse, .navbar-nav .nav-link {
    color: var(--color-padrao1);
}

.logosite:hover {
    color: var(--color-padrao1);
}

.navbar {
    transition: 0.5s;
}

@media (max-width: 768px) {
    .logofimtech {
        width: 120px;
    }

    .navbar {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-nav {
        margin-top: 10px;
    }
}